@media(max-width:1000px){
    /*---HEADER---*/
    header{
        flex-direction: column;
        .logo{
            height: 90px;
        }
    }
    /*--MAIN---*/
    .hero{
        .contInfo{
            width: 900px;
            div{
                img{
                    width: 550px;
                    height: 300px;
                }
            }
        }
    }
    /*----MAPAS---*/
    .mapas{
        height: 900px;
        h2{
            font-size: 50px;
        }
        .contenedorMapas{
            div{
                margin-bottom: 35px;
            }
        }
    }
    /*----SOBRE MI-----*/
    .sobreMi{
        .contMI{
            width: 900px;
            margin-left: 45px;
        }
    } 
}


@media(max-width:800px){
    header{
        .logo{
            height: 90px;
        }
    }
    /*----MAIN---*/
    .hero{
        .contInfo{
            width: 700px;
            div{
                img{
                    width: 450px;
                    height: 200px;
                }
            }
        }
        h2{
            font-size: 50px;
        }
    }
    /*--EQUIP--*/
    .equipamiento{
        .contenedorEquipCT{
            width: 100%;
            margin: 0px; 
        }
        .contenedorEquipTT{
            width: 100%;
            margin: 0px; 
        }
    }
    /*----MAPAS---*/
    .mapas{
        height: 950px;
        h2{
            font-size: 50px;
        }
    }
    .contenedorMapas{
        div{
            margin-bottom: 35px;
        }
    }
    .sobreMi{
        .contMI{
            width: 700px;
            margin-left: 35px;
        }
    } 
}

@media(max-width:500px){
    header{
        flex-direction: column;
        nav{
            ul{
                display: block;
            }
        }
        .logo{
            height: 90px;
        }
    }
    /*----MAIN---*/
    .hero{
        .contInfo{
            width: 400px;
            div{
                img{
                    width: 250px;
                    height: 100px;
                    padding-left: 110px;
                }
            }
        }
        h2{
            font-size: 50px;
        }
    }
    /*--EQUIP--*/
    .equipamiento{
        h2{
            font-size: 50px;
        }
        .contenedorEquipCT{
            width: 100%;
            margin: 0px; 
            div{
                h3{
                    font-size: small;
                }
            }
        }
        .contenedorEquipTT{
            width: 100%;
            margin: 0px; 
            div{
                h3{
                    font-size: small;
                }
            }
        }
    }
    /*----MAPAS---*/
    .mapas{
        height: 100%;
        h2{
            font-size: 50px;
        }
        .contenedorMapas{
            div{
                margin-bottom: 35px;
            }
        }
    }
    .sobreMi{
        .contMI{
            width: 490px;
            margin-left: 0px;
        }
    } 
    /*---FOOTER---*/
    footer{
        img{
            width: 110px;
            height: 50px;
        }
    }
}